<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<head>

  <!-- Maker Theme - Version 4.4.1 by Troop Themes - http://troopthemes.com/ -->

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
  <!-- Anti-flicker snippet (recommended)  -->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-5JKBWXC':true});</script>
  <link rel="canonical" href="{{ canonical_url }}">
  {% if settings.favicon != nil %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}
  {% if template == 'index' %}
    <title>{{ page_title }}</title>
  {% elsif template == 'password' %}
    <title>{{ shop.name }}</title>
  {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}
  {% if page_description %}
    <meta name="description" content="{{ page_description }}">
  {% endif %}

  {% include 'framework--social-meta-tags' %}

  {{ content_for_header }}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  {% include 'custom-styles' %}

  <script type="text/javascript">
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.expand = 1200;
    window.lazySizesConfig.loadMode = 3;
    window.lazySizesConfig.ricTimeout = 50;
  </script>
  {{ 'lazysizes.min.js' | asset_url | script_tag }}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}

  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ "/services/javascripts/currencies.js" | script_tag }}
  {{ "jquery.currencies.min.js" | asset_url | script_tag }}
  
  <script>

    var theme = {};
    theme.settings = {};
    theme.translations = {};
    theme.classes = {};
    theme.utils = {};
    theme.partials = {};

    theme.shop_url = '{{ shop.url }}';
    theme.money_format = '{{ shop.money_format | strip_html | replace: "'", '"' | strip }}';
    theme.currency_switcher_enabled = false;
    theme.cart_type = '{{ settings.cart--type }}';

    theme.translations.cart_subtotal = '{{ "cart.subtotal" | t }}';
    theme.translations.remove_item = '{{ "cart.remove_item" | t }}';
    theme.translations.remove_one_item = '{{ "cart.remove_one_item" | t }}';
    theme.translations.add_one_item = '{{ "cart.add_one_item" | t }}';
    theme.translations.products_sold_out_email_description = '{{ "products.sold_out.email_description" | t }}';
    theme.translations.general_search_see_all_results = '{{ "general.search.see_all_results" | t }}';
    theme.translations.mailing_list_success_message = '{{ "general.mailing_list.success_message" | t }}';
    theme.translations.mailing_list_email_blank = '{{ "general.mailing_list.email_blank" | t }}';

    theme.product_json = new Array();
    theme.variant_id_list = new Array();
    
    /* Added by Craig R */
    theme.multiple_currencies = false;
    theme.crFreeGiftEnable = '{{ settings.enable_free_gift }}';
    
  </script>
  
  {{ 'theme.js' | asset_url | script_tag }}

	{{ shop.metafields.loox["global_html_head"] }}
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
  
</head>

<body
  class="template--{{ template | split: '.' | first | remove: '_' | replace: '/', '--' }} page--{{ page_title | handle }}{% if customer %} customer-logged-in{% endif %}"
  {% if template contains 'customers' %}
    data-account-template="true"
  {% endif %}
>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JKBWXC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  {% include 'icon-sprite.svg' %}

  <div
    class="off-canvas--viewport"
    data-js-class="OffCanvas"
    data-off-canvas--state="closed"
  >
    <div class="off-canvas--overlay"></div>
    <div class="off-canvas--close">{% include 'framework--icon', icon: 'cross' %}</div>

    <div class="off-canvas--main-content">

      {% unless template contains 'password' %}
        {% section 'announcement' %}
        {% section 'header' %}
      {% endunless %}

      <main role="main" class="layout--main-content">
        {{ content_for_layout }}
      </main>
      
      
     {% section 'footer' %}
      {% include 'partial--popup', component: 'main' %}
    </div>

    <div class="off-canvas--right-sidebar">
      {% include 'layout--mobile-nav' %}
    </div>
  </div>

  {% include 'framework--feedback-bar' %}
  {% include 'framework--search', view: 'modal' %}  
  
  

  {{ shop.metafields.loox["global_html_body"] }}
  
  

  {% comment %} Added for size swatches {% endcomment %}
  <script>
    jQuery(function() {
      jQuery('.swatch :radio').change(function() {
        var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
        var optionValue = jQuery(this).val();
        jQuery(this)
        .closest('form')
        .find('.single-option-selector')
        .eq(optionIndex)
        .val(optionValue)
        .trigger('change');
      });
    });
  </script>
  
  {% comment %} Added for product tabs {% endcomment %}
  <script>
  $(document).ready(function() {
    $('ul.tabs').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
    
    $('.return-policy a').attr('target', '_blank'); 
    
  });
  </script>
  
  {{ 'ajaxinate.min.js' | asset_url | script_tag }}

  {% include 'sumo' %}

  <script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
  
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '461881907738958'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=461881907738958&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!--Gorgias Chat Widget Start--><div id="gorgias-chat">{% if customer %}<script>window.gorgiasChatParameters = {"smooch": {"givenName": "{{ customer.name }}","email": "{{ customer.email }}","properties": {"shopify__cart__total_price": "{{ cart.total_price | money | strip_html | default: null }}","shopify__cart__nb_of_items": {{ cart.items | size | default: 0 }},{% for item in cart.items %}"shopify__cart__items-{{ forloop.index }}-[]":"{\"line_price\":\"{{item.line_price|money|strip_html|default:null}}\",\"price\":\"{{item.price|money|strip_html|default:null}}\",\"product_id\":\"{{item.product_id|default:null}}\",\"quantity\":{{item.quantity|default:null}},\"sku\":\"{{item.sku|default:null}}\",\"title\":\"{{item.title}}\",\"variant_id\":{{item.variant_id|default:null}},\"vendor\":\"{{item.vendor|default:null}}\",\"id\":{{item.id|default:null}}}"{% if forloop.last != true %},{% endif %}{% endfor %}}}}</script>{% else %}<script>window.gorgiasChatParameters = {"smooch": {"properties": {"shopify__cart__total_price": "{{ cart.total_price | money | strip_html | default: null }}","shopify__cart__nb_of_items": {{ cart.items | size | default: 0 }},{% for item in cart.items %}"shopify__cart__items-{{ forloop.index }}-[]":"{\"line_price\":\"{{item.line_price|money|strip_html|default:null}}\",\"price\":\"{{item.price|money|strip_html|default:null}}\",\"product_id\":\"{{item.product_id|default:null}}\",\"quantity\":{{item.quantity|default:null}},\"sku\":\"{{item.sku|default:null}}\",\"title\":\"{{item.title}}\",\"variant_id\":{{item.variant_id|default:null}},\"vendor\":\"{{item.vendor|default:null}}\",\"id\":{{item.id|default:null}}}"{% if forloop.last != true %},{% endif %}{% endfor %}}}}</script>{% endif %}<script src="https://config.gorgias.io/production/r1WE86rAlKxJ4Mvg/chat/JWjXVxG3m4GxDvMq.js" defer></script></div><!--Gorgias Chat Widget End--></body>
</html>
