<div class="custom-code-area" style="padding-bottom: 0px; margin-bottom:0px; padding-top: 30px;  height: auto;">
      	<div class="first-image boxesall" style="text-align:center;">
        <img src="{{ 'Cosmo_Logo_BW.jpg' | asset_url}}" class="custom-image" style="height:auto; max-width:150px; margin-bottom:10px;">
          <p style="text-align:center; font-size:13px;"> Best Bathing Suit designers of 2018 </p>
        </div>
        <div class="second-image boxesall" style="text-align:center;">
          <img src="{{ 'narcity_logo2_BW.jpg' | asset_url}}" style="width:100px; height:auto;margin-bottom:10px;">
          <p style="text-align:center; font-size:13px;">“Flattering swimwear for girls.”</p>
        </div>
         <div class="second-image boxesall" style="text-align:center;">
          <img src="{{ 'five-golden-stars_BW.jpg' | asset_url}}" style=" width:170px; height:auto;margin-bottom:10px;">
          <p style="text-align:center; font-size:13px;">Over 90+ five star product reviews online</p>
        </div>
          <div class="second-image boxesall" style="text-align:center;">
          <img src="{{ 'daily_mail.png' | asset_url}}" style=" width:200px; height:auto;margin-bottom:10px;">
          <p style="text-align:center; font-size:13px;">"Swimwear to suit every body"</p>
        </div>
       <div class="second-image boxesall" style="text-align:center;">
          <img src="{{ 'Holr_just_the_H.jpg' | asset_url}}" style="width:55px; height:auto;margin-bottom:10px;">
         <p class="custom-text"style="text-align:center; font-size:13px;">6 Fabulous Canadian Swimsuit Brands to get you ready for summer!</p>
        </div>
      </div>

  <style>
    .boxesall{
      width:200px;
      padding:0px 14px;
      color: #000000;
    }
    #shopify-section-1548884358248{
      padding-bottom:0px;
    }
    
    #shopify-section-1548439159538{
      padding-bottom:0px;
    }
    
  .custom-code-area {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
  }

    @media only screen and (max-width: 400px) {
  .boxesall {
    width:70%;
    padding:5px;
  }

  }
    

    </style>




{% schema %}
  {
    "name": "Press-Section",
    "settings": [
    ],
    "presets": [{
      "name": "Press-Section",
      "category": "Custom_Sections"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}